<!-- Navigation -->
<nav class="navbar navbar-static-top" role="navigation">

    <a class="navbar-brand" routerLink="">CARD</a>

    <ul class="nav navbar-top-links">
        <li *ngIf="isAdmin"><a routerLink="admin">Адмін</a></li>
        <li *ngIf="!isSignedIn"><a routerLink="sign-in">Увійти</a></li>
        <li *ngIf="!isSignedIn"><a routerLink="sign-up">Зареєструватися</a></li>
        <li *ngIf="isSignedIn" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a routerLink="user-profile"><i class="fa fa-user fa-fw"></i> Профіль</a>
                </li>
                <li><a routerLink="user-settings"><i class="fa fa-gear fa-fw"></i> Налаштування</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a (click)="signOut()">
                        <span class="fa fa-sign-out fa-fw"></span> Вийти
                    </a>
                </li>
            </ul><!-- .dropdown-user -->
        </li><!-- .dropdown -->
    </ul><!-- .navbar-top-links -->

</nav><!-- nav -->
