<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div><!-- .input-group -->
            </li>
            <li>
                <a routerLink="users" routerLinkActive="active"><i class="fa fa-users fa-fw"></i> Користувачі</a>
            </li>
            <li>
                <a routerLink="cards" routerLinkActive="active"><i class="fa fa-id-card fa-fw"></i> Карти</a>
            </li>
            <li>
                <a routerLink="outlets" routerLinkActive="active"><i class="fa fa-shopping-basket fa-fw"></i> Заклади</a>
            </li>
        </ul>
    </div><!-- .navbar-static-side -->
</div><!-- .sidebar-collapse -->

<div class="admin-content-wrapper">
    <router-outlet></router-outlet>
</div><!-- #page-wrapper -->
