<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div><!-- .input-group -->
            </li>
            <li>
                <a routerLink="/admin/users"><i class="fa fa-users fa-fw"></i> Користувачі</a>
            </li>
            <li>
                <a routerLink="/admin/cards"><i class="fa fa-id-card fa-fw"></i> Карти</a>
            </li>
            <li>
                <a routerLink="/admin/outlets"><i class="fa fa-shopping-basket fa-fw"></i> Точки знижок</a>
            </li>
        </ul>
    </div><!-- .navbar-static-side -->
</div><!-- .sidebar-collapse -->

<div id="page-wrapper">

</div><!-- #page-wrapper -->
