<div class="container">
    <section class="intro">
        <h1>Соціальна карта учасника АТО</h1>
        <div class="row">
            <div class="col-md-6">
                Card Image
            </div>
            <div class="col-md-6">
                Card info
            </div>
        </div>
    </section>
    <section>
        <h1>Переваги для учасників програми</h1>
        <div class="row">
            <div class="col-md-4">
                <p>Інформація про дану перевагу. Декілька строчок тексту, який би привернув увагу відвідувача сайту.</p>
            </div>
            <div class="col-md-4">
                <p>Інформація про дану перевагу. Декілька строчок тексту, який би привернув увагу відвідувача сайту.</p>
            </div>
            <div class="col-md-4">
                <p>Інформація про дану перевагу. Декілька строчок тексту, який би привернув увагу відвідувача сайту.</p>
            </div>
        </div>
    </section>
</div>
