<div class="container">
    <h1>Увійти</h1>
    <div class="row">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="row">
                <div [ngClass]="{'has-error': formErrors.email}" class="form-group col-sm-6">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                    <small *ngIf="formErrors.email" class="form-control-response">{{formErrors.email}}</small>
                </div>
                <div [ngClass]="{'has-error': formErrors.password}" class="form-group col-sm-6">
                    <label for="password">Пароль</label>
                    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Пароль">
                    <small *ngIf="formErrors.password" class="form-control-response">{{formErrors.password}}</small>
                </div>
            </div>
            <button [disabled]="!signInForm.valid" type="submit" class="btn btn-success pull-right">Увійти</button>
        </form>
    </div>
</div>
