<h1>Список користувачів</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Знайдено користувачів: {{users.length}}
            </div><!-- .panel-heading -->
            <div class="panel-body">
                <table *ngIf="users.length; else: noUsers" width="100%" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Ім'я</th>
                            <th>Прізвище</th>
                            <th>Email</th>
                            <th>Роль</th>
                            <th>Адреса</th>
                            <th>Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr user-list-item *ngFor="let user of users" [user]="user" (id)="removeUser($event)"></tr>
                    </tbody>
                </table><!-- .table -->
            </div><!-- .panel-body -->
        </div><!-- .panel -->
    </div><!-- .col-lg-12 -->
</div><!-- .row -->
<ng-template #noUsers>На даний момент немає зареєстрованих користувачів...</ng-template>
<a routerLink="/admin/users/add-new" class="btn btn-info pull-right">+ Додати користувача</a>
