<h1>Додати карту</h1>
<div class="container">
    <div class="row">
        <form [formGroup]="addCardForm" (ngSubmit)="onSubmit()" class="col-md-10 col-md-offset-1">
            <div class="row">
                <div [ngClass]="{'has-error': formErrors.number}" class="form-group col-sm-6">
                    <label for="number" class="required">Номер карти</label>
                    <input type="text" formControlName="number" class="form-control" id="number" placeholder="Номер карти">
                    <small *ngIf="formErrors.number" class="form-control-response">{{formErrors.number}}</small>
                </div>
                <div class="form-group col-sm-6">
                    <label for="holder">Власник</label>
                    <input ng2-auto-complete type="text"
                           [source]="users"
                           value-property-name="_id"
                           [list-formatter]="autocompleteListFormatter"
                           no-match-found-text="Не знайдено"
                           [max-num-list]="7"
                           formControlName="holder"
                           display-property-name="fullName"
                           class="form-control"
                           id="holder"
                           placeholder="Власник"
                    >
                </div>
                <div class="form-group col-sm-6">
                    <label for="dateIssued">Дата видачі</label>
                    <div class="input-group">
                        <input type="text" formControlName="dateIssued" class="form-control date-picker" id="dateIssued" placeholder="Дата видачі" [options]="datePickerOpts" ngx-mydatepicker #dp="ngx-mydatepicker" readonly>
                        <div class="input-group-addon" (click)="dp.toggleCalendar()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Статус</label>
                    <select class="form-control" formControlName="status">
                        <option value="1">Неактивна</option>
                        <option value="2">Активна/видана</option>
                        <option value="3">Загублена</option>
                    </select>
                </div>
            </div>
            <p class="required-note">Поля, позначені <span>*</span>, є обов'язковими</p>
            <button [disabled]="!addCardForm.valid" type="submit" class="btn btn-success pull-right">Додати карту</button>
        </form>
    </div>
</div>
