/*
    Admin
 */

// --- Global Admin Wrapper
.global-admin-wrapper {
    flex: 1;
    max-width: 100%;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
    }
}

// --- Wrappers
.admin-content-wrapper {
    padding: 30px 15px 75px;
    background-color: white;
    position: relative;

    @media screen and (min-width: $tablet) {
        flex: 1;
        padding: 50px 30px 75px;
        border-left: 1px solid darken($gray-lightest, 6.5%);
    }

    .container {

        @media screen and (min-width: $tablet) {
            padding: 0;
            width: auto;
        }

        @media screen and (min-width: $desktop) {
            width: 680px;
        }
    }
}

// Navigation

// --- Sidebar
.sidebar {

    @media screen and (min-width: $tablet) {
        width: 250px;
    }
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid darken($gray-lightest, 6.5%);
    a {
        &.active {
            background-color: $gray-lighter;
        }
    }
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

// Buttons

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: $brand-primary;
}

.btn-success.btn-outline {
    color: $brand-success;
}

.btn-info.btn-outline {
    color: $brand-info;
}

.btn-warning.btn-outline {
    color: $brand-warning;
}

.btn-danger.btn-outline {
    color: $brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}


// DataTables Overrides

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}
