/*
    Forms
*/

.form-group {
    margin-bottom: 5px;
    padding-bottom: 20px;

    .form-control-response {
        position: absolute;
        left: 15px;
        bottom: 0;
    }

    &.has-error {
        .form-control-response {
            color: #a94442;
        }
    }
}

// --- Datepicker

.input-group-addon {
    cursor: pointer;
}

.ngxmdp .selector {
    top: 25px;
}

.date-picker[readonly] {
    background-color: white;
}
