/*
    Forms
*/

.form-group {
    margin-bottom: 5px;
    padding-bottom: 20px;

    .form-control-response {
        position: absolute;
        left: 15px;
        top: 60px;
    }

    &.has-error {
        .form-control-response {
            color: $input-error;
        }
    }

    label {
        &.required {
            &:after {
                content: '*';
                color: $input-error;
                font-size: 14px;
                margin-left: 3px;
            }
        }
    }
}

.required-note {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: right;

    span {
        color: $input-error;
        font-size: 14px;
    }
}

// --- Datepicker

.input-group-addon {
    cursor: pointer;
}

.ngxmdp .selector {
    top: 25px;
}

.date-picker[readonly] {
    background-color: white;
}
