/*
    General
 */

// --- Body
body {
    font-family: "Open Sans", Helvetica, sans-serif;
}

// --- Page Wrapper (not admin)
.page-content-wrapper {
    position: relative;
    padding-top: 50px;
    min-height: 100vh; // TODO
}

// --- Images
img {
    max-width: 100%;
}

// --- Headers
h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 60px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

// --- Lists
ul {
    list-style: none;
    padding-left: 0;
}

// --- Buttons
.btn {
    margin-left: 10px;
}

.btn-accent {
    background-color: $accent-green-lighter;
    color: white;

    &:hover,
    &:focus {
        color: white;
        background-color: $accent-green;
    }
}

// --- Loader
.loader {
    background-color: rgba(255, 255, 255, 0.975);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
