/*
    Home
 */

section {
    padding: 50px 0;

    &:first-child {
        padding: 100px 0;
    }
}

// --- Intro
.intro {
    .card-image {
        img {
            width: 100%;
        }
    }
    .card-promo {
        padding-top: 25px;

        @media screen and (min-width: 768px) and (max-width: 991px) {
            padding-top: 0;
        }

        @media screen and (min-width: 992px) {
            padding-top: 5px;
        }

        ul {
            margin-bottom: 15px;

            li {
                padding: 3px 0;

                p {
                    text-align: center;

                    @media screen and (min-width: 768px) {
                        text-align: left;
                    }
                }
            }
        }

        .btn {
            padding: 10px 20px;
            font-weight: 700;
            display: block;
            margin: 0 auto;
            text-transform: uppercase;

            @media screen and (min-width: 992px) {
                display: inline-block;
                margin: 0;
            }
        }
    }
}

// --- Benefits
.benefits {
    background-color: $accent-green-bg;

    .item {
        text-align: center;
        margin-bottom: 40px;

        @media screen and (min-width: 992px){
            margin-bottom: 0;
        }

        .fa {
            color: $accent-green-light;
            font-size: 72px;
        }

        h3 {
            color: #555;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

// --- Feedbacks
.feedbacks {

    .carousel-control {
        background: none;
        width: 50px;
        height: 50px;
        top: 50%;
        margin-top: -25px;
        text-shadow: none;
        padding-top: 10px;

        .fa {
            color: $accent-green-border;
            font-size: 36px;
        }
    }

    .feedback-item {
        background-color: $accent-green-bg;

        .feedback-image {
            padding: 45px 15px 15px;

            @media screen and (min-width: $desktop) {
                padding: 45px 25px 45px 45px;
            }

            img {
                border: 15px solid $accent-green-border;
                border-radius: 250px;
                width: 100%;
            }
        }

        .feedback-text {
            padding: 15px 15px 45px;

            @media screen and (min-width: $desktop) {
                padding: 45px 45px 45px 25px;
            }

            h3 {
                color: #555;
                font-size: 36px;
                font-weight: 700;
                margin: 0 0 5px;
            }

            .meta {
                color: $accent-green;
                font-style: italic;
                margin-bottom: 20px;
            }

            .text {
                color: $quote-text;
                font-size: 16px;
                font-style: italic;
                line-height: 1.75;
                text-indent: 30px;
                position: relative;

                .fa {
                    color: $quote-icon;
                    font-size: 36px;
                    position: absolute;
                    top: -5px;
                    left: -43px;
                }
            }
        }
    }
}

// --- Partners
.partners {
    .item {
        text-align: center;

        a {
            img {
                filter: grayscale(100%);
                max-width: 250px;
                opacity: 0.33;
                transition: all 0.5s;

                @media screen and (min-width: $desktop) {
                    max-width: 200px;
                }

                @media screen and (min-width: $wide) {
                    max-width: 225px;
                }
            }

            &:hover,
            &:focus {
                img {
                    filter: grayscale(0%);
                    opacity: 1;
                }
            }
        }
    }
}

// --- Footer
footer {
    background-color: $accent-green-darker;
    min-height: 300px;
}
